body {
    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 1980px;
    height: 80px;
    background-color:#21272B;
    display: table;
    
}

.top-bar img {
    display: flex;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.text-topbar {
     position: relative;
     display: table;
 }

.top-bar h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #1BB4E8;
}

.top-bar h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

ul li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px;
}

ul li a:hover{
    color: #1BB4E8;
}

li {
    display: inline;
}
#menu {
    width: 800px;
    margin-left: 950px;
    font-size: 20px;
    margin-top: -18px;
}

#lista {
    border-right: solid 1px;
    color: #FFFFFF;
}

#img-principal {
    width: 1980px;
    
}

#text {
    position: absolute;
    font-size: 24px;
    left: 1050px;
    right: 330px;
    top: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 600px;
    color: #FFFFFF;
    display: block;
    text-align: justify;
}

#barquinho {
    width: 45;
    height: 60px;
}

.destinos {
    float: left;
    padding-left: 200px;
    display: table;
    
}

.destinos-top {
    width: 700px;
    height: 50px;
    background-color: #1BB4E8;
    margin: 15px;
    
}

.destinos-top h1 {
    padding-top: 6px;
    color: #FFFFFF;
}

#img-destinos {
    float: left;
    padding-top: 5px;
}

.destinos-conteudo {
    width: 700px;
    padding-left: 15px;
}

#barco-destino {
    width: 700px;
}

.nossafrota {
   display: table;
   padding-left: 50px;
}

.nossafrota-top {
    width: 700px;
    height: 50px;
    background-color: #C6B07F;
    margin-top: 22px;
    align-items: center;
   
}

.nossafrota-top h1 {
    border-left: 100px;
    padding-right: 50px;
    display: inline;
    color: #FFFFFF;
}

#img-nossafrota {
    padding-top: 8px;
    padding-left: 2px;
}

.nossafrota-conteudo {
    width: 700px;
}

.nossafrota-imgs {
width: 700px;
}

#img-1 {
    width: 340px;
    height: 170px;
}